section {
	width: 100vw;
	min-height: 100vh;
	position: relative;
	display: flex;
	padding-top: 100px;
	scroll-behavior: smooth;
	/* overflow-y: visible; */
}
body {
	overflow-x: hidden;
	width: 100vw;
	transition: 1.5s;
}
:root {
	--primary-color: #e94560;
	--secondary: #7f48d9;
}
.color-primary {
	color: var(--primary-color);
}
.blob {
	position: absolute;
	/* left: 0;
	top: 0; */
}
.bg-primary {
	background-color: var(--primary-color);
}
.hover-scale:hover {
	transition: 0.2s;
	transform: scale(1.2);
}
@media (min-width: 1024px) {
	.special-text:hover {
		transform: scale(1.4);
		margin: 0 2px;
		transition: 0.2s;
		color: var(--primary-color);
	}
}
